/* portfolio stylesheet */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Redressed&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #a5a2a2;
}

/* NAVBAR START */
nav {
  background-color: #fff;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
  padding: 1.3em 10%;
}

.logo {
  font-family: "Redressed", cursive;
  font-size: 1.8em;
  cursor: pointer;
}
.nav-links {
  float: right;
  /* padding: 10px; */
}
.nav-links li {
  display: inline-block;
  list-style-type: none;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  margin: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.nav-links li a:hover {
    color: #4869E5;
}

.active {
  color: #ca474a !important;
}
/* NAVBAR END */
