/* portfolio stylesheet */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Redressed&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* main style rules */
body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

h2 {
  padding: 20px 0;
  text-align: center;
}
/* end */

/* NAVBAR START */
nav {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
  padding: 1.3em 10%;
}

.logo {
  font-family: "Redressed", cursive;
  font-size: 1.8em;
  cursor: pointer;
}
.nav-links {
  float: right;
  /* padding: 10px; */
}
.nav-links li {
  display: inline-block;
  list-style-type: none;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  margin: 1em;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #4869e5;
}

.active {
  color: #ca474a !important;
}
/* NAVBAR END */

/* HERO-SECT START */
#hero {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.personal-pic {
  /* width: 30%; */
  height: 100%;
  background-color: #3fc5ff;
  padding: 0 40px;
}

.personal-pic img {
  width: auto;
  height: 90%;
  /* padding: 0 20%; */
}

.hero-aside-content {
  background-color: #b6e1fb;
  /* width: 70%; makes the content squizzed to center */
  /* padding: 60px 0; */
}

.name {
  margin: 20% 10% 5% 20%;
  font-family: "Open Sans", sans-serif;
  font-size: 2.8em;
}

.name span {
  font-weight: 900;
}

.bio-content {
  margin: 5% 30% 10% 20%;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.explore-btn {
  text-decoration: none;
  background-color: #1ca3ef;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10% 20%;
}

#contact-icons {
  margin: 30% 0;
  cursor: pointer;
}
.icon {
  margin: 4px;
}
/* HERO-SECTION END */

/* ABOUT-SECTION START */
#about {
  background-color: #fafafa;
  height: 100vh;
}

#about-main-wrapper {
  display: flex;
  flex-direction: row;
  margin: 5% 10%;
}

#about-me {
  width: 50%;
  /* background-color: rgba(199, 201, 201, 0.25); */
  height: auto;
  /* padding: 20px; */
}

#about-me p {
  color: #474747;
  font-size: 1.2em;
  font-weight: 500;
  padding: 20px;
}

#skills {
  width: 50%;
  /* background-color: rgb(44, 96, 138); */
  height: auto;
  padding: 20px;
}

.progress-bar {
  padding: 20px;
}

.progress-bar p {
  font-weight: bold;
}

/* about sub-section */
.sub-section {
  display: flex;
  flex-direction: row;
}
.hobbies,
.interests {
  /* background-color: red; */
  width: 50%;
  padding-left: 10%;
  margin-top: 10px;
  /* border-top: 1px solid #000; */
}

.hobbies {
  border-right: 1px solid #000;
}
/* ABOUT SECTION END */

/* PROJECTS SECTION START */
#projects {
  height: 100vh;
  /* background-color: #f0f0f0; */
}

#card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px;
  margin: 0 10%;
}
.card {
  /* height: 40%; */
  width: 30%;
  /* border: 1px dashed black; */
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.card:hover .overlay-text {
  opacity: 1;
}

.text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-title {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.2em;
}

.project-title:hover {
  color: #4869e5;
}
